/* line 5, ../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  Fonts
  
  Any @font-face or third party font imports should go in this file

*/
/* Variables
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* 
	Note:
		+ Mixin names should describe what things ARE, not what they look like.
		+ As much as it kills me, colour is spelled the American way to be consistant
		  with colour declarations in css.
	
	For example, the following are good variable names:
	$font-base, $font-header, $color-brand, $color-accent, $breakpoint-midsize, $breakpoint-small
	
	These are bad variable names:
	$blue, $orange, $helvetica, $ipad, $iphone
	
	On naming conventions, a good convention is to use underscores for spaces, and dashes to indicate
	a subsidiary relationship. This allows you to easily group variables by type.
	
	The following are good examples of variable groups named with a dash to indicate descendency:
	
	$font-x
	$font-weight-x
	$color-x
	$icon-x
	$breakpoint-x
	
*/
/* The following variables are needed by some of our mixins and can be adjust to meet
   the needs of the site.
*/
/* Mixins
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* line 1, ../scss/_base.scss */
html,
body {
  background: black;
  margin: 0;
}

/* line 6, ../scss/_base.scss */
* {
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 10, ../scss/_base.scss */
.td {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 1, ../scss/modules/_loader.scss */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: red;
  z-index: 99;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -webkit-transition-duration: 0;
  transition-duration: 0;
  display: none;
}

/* line 1, ../scss/partials/_hero.scss */
.hero {
  width: 100%;
  height: 4000px;
  position: relative;
  background: black;
  overflow-x: hidden;
  background: url(../../images/background/starfield.jpg) repeat 0 0;
  background-attachment: fixed;
}
/* line 10, ../scss/partials/_hero.scss */
.hero .hero-inner {
  position: fixed;
  width: 100%;
  height: 100%;
}
/* line 16, ../scss/partials/_hero.scss */
.hero .stars {
  width: 150%;
  height: 150%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url(../../images/background/starfield.jpg) repeat 0 0;
}
/* line 26, ../scss/partials/_hero.scss */
.hero .saturn {
  width: 160px;
  height: 160px;
  display: block;
  position: absolute;
  z-index: 3;
  right: 100px;
  top: 0px;
  background-image: url(../../images/hero/saturn.png);
  background-position: center center;
}
/* line 38, ../scss/partials/_hero.scss */
.hero .iapetus {
  width: 70%;
  height: 800px;
  display: block;
  position: absolute;
  z-index: 9;
  left: 15%;
  top: -25%;
  background-image: url(../../images/hero/iapetus-rotated.png);
  background-position: left top;
}
/* line 50, ../scss/partials/_hero.scss */
.hero .iapetus-full {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  bottom: 0px;
  left: 0;
  background: url(../../images/hero/Crescent_Dione-3000w.png) no-repeat left bottom;
  background-size: auto 75vh;
}

@-moz-keyframes iapetus {
  0% {
    top: -10%;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes iapetus {
  0% {
    top: -10%;
  }
  100% {
    top: 0%;
  }
}
@keyframes iapetus {
  0% {
    top: -10%;
  }
  100% {
    top: 0%;
  }
}
@-moz-keyframes wiggle {
  0% {
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -moz-transform: translateX(240px);
    transform: translateX(240px);
  }
  45% {
    -moz-transform: translateX(180px);
    transform: translateX(180px);
    margin-top: -10px;
  }
  65% {
    -moz-transform: translateX(120px);
    transform: translateX(120px);
    margin-top: 10px;
  }
  85% {
    -moz-transform: translateX(60px);
    transform: translateX(60px);
    margin-top: -10px;
  }
  95% {
    -moz-transform: translateX(20px);
    transform: translateX(20px);
    margin-top: 10px;
  }
  100% {
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    margin-top: 0px;
  }
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(240px);
    transform: translateX(240px);
  }
  45% {
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
    margin-top: -10px;
  }
  65% {
    -webkit-transform: translateX(120px);
    transform: translateX(120px);
    margin-top: 10px;
  }
  85% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    margin-top: -10px;
  }
  95% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    margin-top: 10px;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    margin-top: 0px;
  }
}
@keyframes wiggle {
  0% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -moz-transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    transform: translateX(240px);
  }
  45% {
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
    margin-top: -10px;
  }
  65% {
    -moz-transform: translateX(120px);
    -ms-transform: translateX(120px);
    -webkit-transform: translateX(120px);
    transform: translateX(120px);
    margin-top: 10px;
  }
  85% {
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    margin-top: -10px;
  }
  95% {
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    margin-top: 10px;
  }
  100% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    margin-top: 0px;
  }
}
@-moz-keyframes stars {
  0% {
    -moz-transform: translate3D(0px, 0px, 0px);
    transform: translate3D(0px, 0px, 0px);
  }
  100% {
    -moz-transform: translate3D(-20px, -30px, 0px);
    transform: translate3D(-20px, -30px, 0px);
  }
}
@-webkit-keyframes stars {
  0% {
    -webkit-transform: translate3D(0px, 0px, 0px);
    transform: translate3D(0px, 0px, 0px);
  }
  100% {
    -webkit-transform: translate3D(-20px, -30px, 0px);
    transform: translate3D(-20px, -30px, 0px);
  }
}
@keyframes stars {
  0% {
    -moz-transform: translate3D(0px, 0px, 0px);
    -ms-transform: translate3D(0px, 0px, 0px);
    -webkit-transform: translate3D(0px, 0px, 0px);
    transform: translate3D(0px, 0px, 0px);
  }
  100% {
    -moz-transform: translate3D(-20px, -30px, 0px);
    -ms-transform: translate3D(-20px, -30px, 0px);
    -webkit-transform: translate3D(-20px, -30px, 0px);
    transform: translate3D(-20px, -30px, 0px);
  }
}
@-moz-keyframes saturn {
  0% {
    -moz-transform: translate3D(0px, 0px, 0px) scale(1);
    transform: translate3D(0px, 0px, 0px) scale(1);
  }
  100% {
    -moz-transform: translate3D(-10px, -40px, 0px) scale(1.15);
    transform: translate3D(-10px, -40px, 0px) scale(1.15);
  }
}
@-webkit-keyframes saturn {
  0% {
    -webkit-transform: translate3D(0px, 0px, 0px) scale(1);
    transform: translate3D(0px, 0px, 0px) scale(1);
  }
  100% {
    -webkit-transform: translate3D(-10px, -40px, 0px) scale(1.15);
    transform: translate3D(-10px, -40px, 0px) scale(1.15);
  }
}
@keyframes saturn {
  0% {
    -moz-transform: translate3D(0px, 0px, 0px) scale(1);
    -ms-transform: translate3D(0px, 0px, 0px) scale(1);
    -webkit-transform: translate3D(0px, 0px, 0px) scale(1);
    transform: translate3D(0px, 0px, 0px) scale(1);
  }
  100% {
    -moz-transform: translate3D(-10px, -40px, 0px) scale(1.15);
    -ms-transform: translate3D(-10px, -40px, 0px) scale(1.15);
    -webkit-transform: translate3D(-10px, -40px, 0px) scale(1.15);
    transform: translate3D(-10px, -40px, 0px) scale(1.15);
  }
}
@-moz-keyframes iapetus-full {
  0% {
    -moz-transform: translate3D(0px, 0px, 0px) scale(1);
    transform: translate3D(0px, 0px, 0px) scale(1);
  }
  100% {
    -moz-transform: translate3D(-10px, -10px, 0px) scale(1.08);
    transform: translate3D(-10px, -10px, 0px) scale(1.08);
  }
}
@-webkit-keyframes iapetus-full {
  0% {
    -webkit-transform: translate3D(0px, 0px, 0px) scale(1);
    transform: translate3D(0px, 0px, 0px) scale(1);
  }
  100% {
    -webkit-transform: translate3D(-10px, -10px, 0px) scale(1.08);
    transform: translate3D(-10px, -10px, 0px) scale(1.08);
  }
}
@keyframes iapetus-full {
  0% {
    -moz-transform: translate3D(0px, 0px, 0px) scale(1);
    -ms-transform: translate3D(0px, 0px, 0px) scale(1);
    -webkit-transform: translate3D(0px, 0px, 0px) scale(1);
    transform: translate3D(0px, 0px, 0px) scale(1);
  }
  100% {
    -moz-transform: translate3D(-10px, -10px, 0px) scale(1.08);
    -ms-transform: translate3D(-10px, -10px, 0px) scale(1.08);
    -webkit-transform: translate3D(-10px, -10px, 0px) scale(1.08);
    transform: translate3D(-10px, -10px, 0px) scale(1.08);
  }
}
/* line 1, ../scss/partials/_sunlit.scss */
.sunlit {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  min-height: 100vh;
  height: 4000px;
  position: relative;
  overflow-x: hidden;
  background-color: blue;
}
/* line 11, ../scss/partials/_sunlit.scss */
.sunlit .sunlit-inner {
  position: relative;
  float: left;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: green;
}

/*# sourceMappingURL=screen.css.map */
