.hero {
	width: 100%;
	height: $blockmedium;
	position: relative;
	background: black;
	overflow-x: hidden;
	background: url(../../images/background/starfield.jpg) repeat 0 0;
	background-attachment: fixed;
	// background-size: 300px;
	.hero-inner {
		position: fixed;
		width: 100%;
		height: 100%;
		//@include animation(iapetus 20s forwards);
	}
	.stars {
		width: 150%;
		height: 150%;
		position: absolute;
		top: 0; 
		left: 0;
		z-index: 1;
		background: url(../../images/background/starfield.jpg) repeat 0 0;
		// @include animation(stars 10s forwards);
	}
	.saturn {
		width: 160px;
		height: 160px;
		display: block;
		position: absolute;
		z-index:3;
		right: 100px;
		top: 0px;
		background-image: url(../../images/hero/saturn.png);
		background-position: center center;
		// @include animation(saturn 10s forwards);
	}
	.iapetus {
		width: 70%;
		height: 800px;
		display: block;
		position: absolute;
		z-index:9;
		left: 15%;
		top: -25%;
		background-image: url(../../images/hero/iapetus-rotated.png);
		background-position: left top;
		// @include transform(translateX(410px) translateY(-440px) rotate(-100deg));
	}
	.iapetus-full {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 9;
		bottom: 0px;
		left: 0;
		background: url(../../images/hero/Crescent_Dione-3000w.png) no-repeat left bottom;
		background-size: auto 75vh;
		// @include animation(iapetus-full 10s forwards);
	}

}

@include keyframes(iapetus) {
	0% { top: -10% }
	100% { top: 0% }
}

@include keyframes(wiggle) {
	0% { @include translateX(0px); }
	25% { @include translateX(240px); 	}
	45% { @include translateX(180px); margin-top: -10px; }
	65% { @include translateX(120px); margin-top: 10px; }
	85% { @include translateX(60px); margin-top: -10px; }
	95% { @include translateX(20px); margin-top: 10px; }
	100% { @include translateX(0px); margin-top: 0px; }
}

@include keyframes(stars) {
	0% { @include transform(translate3D(0px,0px,0px) ) }
	100% { @include transform(translate3D(-20px,-30px,0px) ) }
}

@include keyframes(saturn) {
	0% { @include transform(translate3D(0px,0px,0px) scale(1) ) }
	100% { @include transform(translate3D(-10px,-40px,0px) scale(1.15) ) }
}
@include keyframes(iapetus-full) {
	0% { @include transform( translate3D(0px,0px,0px) scale(1) ) }
	100% { @include transform( translate3D(-10px,-10px,0px) scale(1.08) ) }
}